<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменить изображение</title>
</head>
<body style="font-family: Calibri;">
    <p><a href="/">Назад в списки</a></p>
    <h2>{{ image_data.image }}</h2>

    <form method="get">
        {% csrf_token %}
         {% for field in ChangeImgSizeForm %}
            <div>
                {{ field.errors }}
                <p>{{ field.label_tag }}</p>
                {{ field }}err_mess
            </div>
        {% endfor %}
        <p><input type="submit" value="Отправить"></p>
    </form>

    {% if ChangeImgSizeForm.errors %}
        {% for error in ChangeImgSizeForm.non_field_errors %}
            <div style="color: #ff0000;">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <br/>
    <img src="{{ media_url }}{{ image_data.image }}"/>
    <br/><br/>
</body>
</html>