<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новое изображение</title>
</head>
<body style="font-family: Calibri;">
    <p><a href="/">Назад в списки</a></p>
    <h2>Новое изображение</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
         {% for field in UploadImgForm %}
            <div>
                {{ field.errors }}
                <p>{{ field.label_tag }}</p>
                {{ field }}
            </div>
        {% endfor %}
        <p><input type="submit" value="Отправить"></p>
    </form>

    {% if UploadImgForm.errors %}
        {% for error in UploadImgForm.non_field_errors %}
            <div style="color: #ff0000;">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    {% if error_message %}
        <div style="color: #ff0000;">
            <strong>{{ error_message }}</strong>
        </div>
    {% endif %}
</body>
</html>